[package]
name = "bukurs-bench"
version = "0.1.0"
edition = "2021"

[dependencies]
bukurs = { path = "../lib" }
criterion = "0.5"
tempfile = "3.10"

[[bench]]
name = "benchmark"
harness = false

[[bench]]
name = "optimization_benchmark"
harness = false
